<!DOCTYPE html>
<html>
<head>
    <title>Face Detection System</title>
    <link rel="stylesheet" type="text/css" href="/static/button.css">
</head>
<body>
    <h1>Face Detection System</h1>
    <div class="button-container">
        <button onclick="location.href='/face_detection'">Face Detection</button>
        <button onclick="location.href='/stock_prediction'">Stock Price Prediction</button>
        <button onclick="location.href='/weather_one'">Weather Forecast</button>
        <button onclick="location.href='/imagetotext'">Image to Text</button>
        <button onclick="location.href='/spamclass'">Spam Detection</button>
    </div>
    
</body>

<footer class="footer">
    <div class="footerContainer">
        <p class="copyright"> Made with &#x1F497 by VINIT </p>
    </div>
</html>
